/* btn */

.btn {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
}

/* section hero btn */

.btn-hero {
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--txt-white);
    background-color: var(--accent-txt-color);
    padding: 10px 30px;
    transition: color var(--anmtn-slow), background-color var(--anmtn-slow);
    &:hover,
    &:focus,
    &:active {
            color: var(--txt-deep-grey);
            background-color: var(--txt-light-gray);
        }
}

/* section portfolio btn */

.btn-portfolio {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.62;
    color: var(--txt-deep-grey);
    background-color: transparent;
    background-color: var(--txt-light-gray);
    transition: color, var(--anmtn-slow), background-color var(--anmtn-slow),
     box-shadow var(--anmtn-slow);
    &:hover,
    &:focus,
    &:active {
            color: var(--txt-white);
            background-color: var(--accent-txt-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    }
}

.btn-portfolio-container {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.btn-portfolio-right:not(:last-child) {
    margin-right: 8px;
}

.btn-portfolio-colored {
    color: var(--txt-white);
    background-color: var(--accent-txt-color);
}

/* footer btn */

 .footer-subscribe__btn {
     font-weight: 700;
     line-height: 1.88;
     letter-spacing: 0.06em;
     padding: 10px 62px 10px 29px;
     color: var(--txt-white);
     background-color: var(--accent-txt-color);
     transition: background-color var(--anmtn-slow);
    &:hover,
    &:focus {
            background-color: #188CE8;
        }
}

.footer-subscribe__svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    fill: currentColor;
}


 
