/* logo */

.logo-web {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-color)
}

/* heder logo */

.logo-studio {
    color: var(--txt-black);
}

/* footer logo */

.footer__logo-studio {
        color: var(--txt-white);
}