/* reset */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
img {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    margin: 0;
    height: auto;

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}