/* modal input */

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    line-height: 1.25;
    color: var(--txt-deep-grey);
    padding-left: 42px;
    padding-right: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    ;
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--anmtn-slow);

    &:focus,
    &:not(:placeholder-shown) {
            border-color: var(--accent-txt-color);
        }

    &:focus+.modal-form-icon,
    &:not(:placeholder-shown)+.modal-form-icon {
            fill: var(--accent-txt-color);
        }
}

 
 