
@import "./decimals";

@mixin fonts ($fw, $fs, $lh, $ls: 0.03) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}   

@mixin section ($indent: 95px) {
    margin-top: $indent;
    margin-top: $indent;
    }