/* section best Особенности и преимущества */

.best {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}

.best-list {
    
            --items: 1;
       

    @media screen and (min-width: 768px) {
            --items: 2;
        }

    @media screen and (min-width: 1200px){
    --items: 4;
    }
    
}



.best-icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;

}

.text-one-h3-best {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--txt-deep-grey);
    margin-top: 30px;
    margin-bottom: 7px;
}

.text-one-p-best {
    font-size: 14px;
    line-height: 1.71;

}

