/* modal styles */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity var(--anmtn-slow), visibility var(--anmtn-slow);
    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
}

 .modal {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 528px;
     height: 581px;
     padding: 40px;
     background-color: var(--txt-white);
     border-radius: 4px;
     box-shadow:
         0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 2px 1px rgba(0, 0, 0, 0.2);
 }

