/* Portfolio */

.portfolio-border {
    border: 1px solid #EEEEEE;
    border-top: none;}

.portfolio-h2-style {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--txt-deep-grey);
    padding-top: 20px;
    padding-left: 24px;
}


.pottfolio-p-style {
    line-height: 1.88;
    color: var(--txt-gray);
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.card-border {
    display: block;
    transition: box-shadow var(--anmtn-slow);
    &:hover,
    &:focus {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }

}

.card-set-blur {
    position: relative;
    overflow: hidden;
}