/* Team Наша команда */

.team--background {
    padding-top: 0;
    background-color: #F5F4FA;
}

.team__list {
    --items: 4;
}

.team--border {
    padding: 0px 0px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    border-top: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__text-h3 {
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    color: var(--txt-deep-grey);
    padding-top: 30px;
}

.team__text-p {
    line-height: 1.19;
    text-align: center;
    padding-top: 10px;
}